<div class="container mt-4 mb-4">
    <div class="card p-4">
        <h2 class="card-title text-center mb-4">Расписание рейсов</h2>
        <form action="/flights/search" method="GET">
            <div class="row g-3">
                <div class="col-md">
                    <label for="departureAirport" class="form-label">Откуда</label>
                    <input type="text" class="form-control" id="departureAirport" name="departureAirport" placeholder="Город или аэропорт" required>
                </div>
                <div class="col-md">
                    <label for="arrivalAirport" class="form-label">Куда</label>
                    <input type="text" class="form-control" id="arrivalAirport" name="arrivalAirport" placeholder="Город или аэропорт" required>
                </div>
                <div class="col-md">
                    <label for="departureDate" class="form-label">Когда</label>
                    <input type="date" class="form-control" id="departureDate" name="departureDate" required>
                </div>
                <div class="col-md-auto d-flex align-items-end">
                    <button type="submit" class="btn btn-primary w-100">Найти рейсы</button>
                </div>
            </div>
        </form>
    </div>
</div> 