{{> header}}

<div class="container">
    
    <div class="row">
        <div class="col-12">
            <div class="card fade-in" style="animation-delay: 0.2s;">
                <div class="card-header">
                    <h5 class="card-title mb-0">
                        <i class="fas fa-list text-primary me-2"></i>
                        Список рейсов
                    </h5>
                </div>
                <div class="card-body">
                    <p class="alert alert-info">Функционал управления билетами недоступен в текущей конфигурации.</p>
                </div>
            </div>
        </div>
    </div>

</div>

{{> footer}} 